flask
flask-cors

# PyTorch CPU
--extra-index-url https://download.pytorch.org/whl/cpu
torch
torchvision

numpy
opencv-python-headless
Pillow
gdown
gradio
timm

# MobileSAM
git+https://github.com/ChaoningZhang/MobileSAM.git
